DJANGO_SECRET_KEY=change-me
DEBUG=0
ALLOWED_HOSTS=127.0.0.1,localhost
TELEGRAM_BOT_TOKEN=
BANK_TRANSFER_TEXT_FA=شماره کارت: 0000-0000-0000-0000 | به نام: YOUR NAME
BANK_TRANSFER_TEXT_EN=Card Number: 0000-0000-0000-0000 | Holder: YOUR NAME
